body{
  color:black;
}
shinyui{
  color:black;
}
fluidpage{
  color:white;
}

.banner-tab {
  font-weight: bold;
  font-size: 130%;
  text-align: center;
  /*background-color:#90EE90;*/
  border-style: solid;
  border-radius: 8px;
  color:#f0fcfc;
}

.banner-h2{
  color:#080808;
  text-align: center;
  font-weight: bold;
}

.class-dropbox{
 font-size:1em;
}

/*
.tabbable > .nav > li > a {
  color: white;
  border-style: solid;
  border-color: black;
  font-size: 130%;
}

.tabbable > .nav > li[class=active] > a {
  background-color: blue;
  border-color: black;
  border-style: solid;
}
*/
.unclass_bottom {
  font-size: 200%; 
  font-family: Impact; 
  color: green; 
  text-align:center;
}

.inputs {
  font-size: 120%;
}

.tabs-nav{
  background-color:white;
}

.dice {
  padding: 10px;
  background-color: lightgray;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
}

.notice {
  background-color: yellow; 
  color:black; 
  border-color: black; 
  border-style: dashed; 
  padding: 10px;
  border-radius: 8px;
}

